body {
  overflow-x: hidden;
  margin: 0;
  display: none;
  background-color: hsl(195, 8%, 91%);
}
header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: left;
  background-color: rgb(137, 176, 255);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.4);
  z-index: 100;
  position: relative;
}
.searchBar {
  background-color: hsl(200, 100%, 99%);
  border: none;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  width: 90%;
  height: 50px;
  padding: 0 20px;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: light;
  font-size: 1.2rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.search-wrapper {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px 0;
  margin-right: 300px;
}
#filterIcon {
  height: 50px;
  width: 4.5%;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: hsl(200, 100%, 99%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#logo-wrapper {
  flex: 0.2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#logoBtn {
  width: 200px;
  height: 60px;
  background-image: url("/Images/logo/logo-no-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
#filterIcon button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
.background {
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__icon {
  width: 20px;
  height: 16px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  transition: transform 0.4s;
}
.bar {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: rgb(83, 83, 83);
  box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
  transition: width 0.4s, transform 0.4s, background-color 0.4s;
}
.bar1 {
  width: 90%;
}
.bar2 {
  width: 65%;
}
.bar3 {
  width: 40%;
}
.menu__icon-active {
  transform: rotate(-90deg);
}
.span-active {
  width: 0.25rem;
  transform: translateX(-10px);
  background-color: rgb(255, 59, 48);
}
.dropDownMenu {
  display: flex;
  width: 250px;
  justify-content: space-between;
  align-items: center;
  background-color: #86989f;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 15px;
  border-radius: 15px;
  transition: visibility 0.5s ease, opacity 0.3s ease;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  padding: 10px 0;
}
.show-menu {
  visibility: visible;
  height: auto;
  padding: 10px 0;
  opacity: 1;
}
.filterDisplay {
  background-color: azure;
  width: calc(80% + 20px);
  height: 20px;
  padding: 5px 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  flex-wrap: wrap;
  gap: 5px;
}
#drop-menu input {
  display: flex;
  width: 80%;
  height: 30px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.filter {
  width: auto;
  height: auto;
  padding: 5px;
  background-color: rgb(243, 243, 243);
  border: 1px solid rgba(66, 66, 66, 0.2);
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.filterText {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 0.9rem;
  margin: 0;
  margin-right: 5px;
}
#submitBtn-wrapper {
  flex: 0.5;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 30%;
}
#submitBtn-wrapper button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  color: #2c2c2c;
  font-weight: bold;
  font-size: 1.4rem;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: hsl(200, 100%, 99%);
  transition: 0.15s;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#submitBtn-wrapper button:hover {
  color: #282828;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}
#submitBtn-wrapper button:active {
  background-color: hsl(210, 8%, 91%);
  color: #3e4243;
  box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.2);
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: hsl(195, 8%, 91%);
  padding: 30px 0;
  z-index: 10;
  position: relative;
}
.mainTitle {
  font-size: 7.5rem;
  font-weight: normal;
  font-family: "Adamina";
  margin: 0;
  color: rgb(24, 24, 24);
}
.main-title-desc {
  font-size: 2rem;
  font-weight: bolder;
  font-family: "Adamina", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 0;
  margin: 5px 0;
  color: rgb(0, 68, 145);
}
.main-wrapper {
  width: 100%;
  height: 100%;
  background-color: hsl(195, 8%, 91%);
  margin: 30px 0;
  display: flex;
  text-align: center;
  padding: 50px 0;
}
.recipe-display {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.placeholder-box {
  display: inline-block;
  width: 250px;
  aspect-ratio: 1 / 1;
  background-color: #5ca3ff33;
  border: none;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.foodName {
  font-size: 1rem;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: black;
}
.foodImg {
  width: 80%;
  border-radius: 8px;
  aspect-ratio: 1 / 1;
}
.recipe-url {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(0, 139, 220);
}
.ingredientsList {
  text-align: left;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.listIngredient {
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.supportBtn {
  width: 60px;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  background-color: rgb(32, 106, 255);
  border: none;
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.3rem;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: background-color 0.3s ease, opacity 0.2s, visibility 0.2s;
  z-index: 120;
}
.supportBtn:hover {
  background-color: rgb(29, 94, 225);
}
.supportBtn-hide {
  opacity: 0;
  visibility: hidden;
}
.supportDisplay-hide {
  visibility: hidden;
  height: 0;
  width: 250px;
  transition: height 0.6s, display 0.6s, visibility 0.6s, padding 0.6s;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background-color: rgb(208, 232, 255);
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  z-index: 120;
}
.supportDisplay-show {
  visibility: visible;
  height: 400px;
}
.supportDisplay-hide *{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.supportHeader {
  width: 100%;
  background-color: rgb(22, 142, 255);
  height: 40px;
  position: absolute;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}
.supportHeader h2 {
  margin-left: 15px;
  color: rgb(247, 252, 255);
}
.supportFooter {
  width: 100%;
  background-color: rgb(251, 251, 251);
  height: 25px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.5);
}
#exitBtn {
  height: 75%;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  transition: background-color 0.2s;
  border: none;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: bolder;
  color: #5151515c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  font-family: unset;
}
#exitBtn:hover {
  background-color: #5151512e;
  color: #51515184;
}
.formWrapper {
  height: calc(100% - 65px);
  width: 100%;
  position: absolute;
  top: 40px;
}
#msgForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 88%;
  justify-content: space-between;
  text-align: left;
  padding: 0 15px;
}
.formContent *{
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}
.formContent{
  width: 100%;
}
#msg-type {
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 4px;
  padding: 0 5px;
  width: 40%;
  background-color: rgb(255, 255, 255);
}
#email {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 5px;
  width: 80%;
  height: 25px;
  font-size: 13px;
  padding: 0 5px;
}
#issueInput {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 5px;
  height: 50px;
  width: 85%;
  font-size: 13px;
  padding: 5px;
  box-sizing: border-box;
  resize: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  line-height: 1;
}
#submitBtn {
  border-radius: 8px;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgb(22, 142, 255);
  font-size: 1rem;
  width: 100px;
  height: 35px;
  margin-bottom: 16px;
  cursor: pointer;
  color: white;
  transition: 0.15s;
}
#submitBtn:hover {
  background-color: rgb(21, 131, 234);
}
#submitBtn:active {
  background-color: rgb(208, 220, 208);
}
.formSubmitDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  align-items: center;
  text-align: center;
}
.formSubmitTitle {
  color: #3e4243;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 40px;
}
.formSubmitImg {
  width: 60%;
  aspect-ratio: 1 / 1;
  margin-bottom: 40px;
}
.ingredient_search{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px 0;
}
#ingredientWrapper{
  width: 15%;
  height: 400px;
  box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.2);
  background-color: rgb(237, 237, 237);
  border-radius: 8px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  align-content: flex-start;
  overflow: hidden;
}
.ingredientDiv{
  width: fit-content;
  height: 20px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.ingredient-showcase-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  margin-right: 5px;
}
#showcaseTitle{
  width: 100%;
  height: 3%;
  background-color: rgb(220, 220, 220);
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.2);
  padding: 15px;
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: light;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ingredientShowcase{
  width: 100%;
  height: 97%;
  padding: 15px;
  padding-top: 0;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-content: flex-start;
}